* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: darkgray;
}
::-webkit-scrollbar-track {
  background: white;
}

a:hover {
  color: #d1d1d1;
}
